.KontenjerZaKontaktirajNasPravi{
  height: 762px;
  background-color: rgb(245, 244, 244);
  width: 1575px;
}
.Kontenjerzanaslov{
  height: 40px;

  width: 1575px;
}
.IzgledNaslova{
 padding-top: 40px;
  margin-left: 45%;
  font-size: 30px;
  font-weight: bold;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerOpisa{
  margin-top: 60px;
  margin-left: 13%;
}
.Opis{
  width: 1200px;
  font-size: 24px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.IzgledBoxObavestenjaInputaZaKontaktirajNas{
  width: 900px;
  height: 200px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: -15px;
  margin-left: 22%;
}
.IzgledSvihTekstovaZaKontaktirajNas{
  font-size: 24px;
  margin-right: 10px;
}
.IzgledEmailInputaZaKontaktirajNas{
  height: 24px;
  font-size: 18px;
  width: 376px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
}
.KontenjeEmailObavestenja{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -35px;
  margin-left: 270px;
  height: 100px;
  width: 500px;
}
.KontenjerZaDugme{
  margin-top: -240px;
  margin-left: 44%;
  margin-bottom: 60px;
}
.DugmeZaPoruku{
  height: 50px;
  width: 200px;
  background-color: rgb(206, 235, 101);
  font-size: 24px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  border-radius: 28px;
  border: none;
 
  cursor: pointer;
}
