.KontenjerZaKontaktirajNasPravi{
  height: 100%;
  width: 100.1%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 244, 244);
}
.Kontenjerzanaslov{
  height: 60px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.IzgledNaslova{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerOpisa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.Opis{
  width: 1200px;
  font-size: 24px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerZaPoruku{
  width: 100%;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.IzgledBoxObavestenjaInputaZaKontaktirajNas{
  width: 900px;
  height: 200px;
  font-size: 14px;
  border-radius: 5px;
}
.IzgledSvihTekstovaZaKontaktirajNas{
  font-size: 24px;
  margin-right: 10px;
}
.IzgledEmailInputaZaKontaktirajNas{
  height: 24px;
  font-size: 18px;
  width: 376px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
}
.KontenjerZaEmailIDugme{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.KontenjeEmailObavestenja{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 500px;
}
.KontenjerZaDugme{
display: flex;
width: 250px;
height: 50px;
}
.DugmeZaPoruku{
  height: 50px;
  width: 200px;
  background-color: rgb(206, 235, 101);
  font-size: 24px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  border-radius: 28px;
  border: none;
  cursor: pointer;
}
