.GlavniIzgledHedera{
  display: flex;
  padding-top: 0px;
  margin-top: 0px;
  height: 80px;
  width: 100%;
 margin-bottom: 0px;
 background-color: rgb(245, 242, 242);
  background-image: linear-gradient(to right, rgb(245, 247, 122) 20%, rgb(154, 218, 102) 80%);
 box-shadow: 0px 0px 10px rgba(95, 97, 95, 0.6);
}
.KontenjerLoga{
 margin-left:  60px;
 margin-top: -15px;
}
.IzgledLoga{
  display: flex;
  height: 120px;
  width: 190px;
  cursor: pointer;
}
.KontenjerdShearchBara{
padding-left: 65px;
display: flex;
align-items: center;
}
.IzgledShearchBara{
  border: none;
  width: 600px;
  height: 40px;
  padding-left: 10px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
 font-size: 18px;
  box-shadow: 0px 0px 5px rgba(22, 82, 30, 0.6);
}
.IzgledShearchBara::placeholder{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.KontenjerZaAplikaciju{
  height: 80px;
  width: 240px;
  display: flex;
  align-items: center;
 margin-left: 30px;
  cursor: pointer;
 }
.LevaStranjaKontenjerZaAplikaciju{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
}
.SimbolZaAplikaciju{
  height: 40px;
  width: 40px;
}
.DesnaStranjaKontenjerZaAplikaciju{
  display: flex;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: rgba(19, 15, 15, 0.938);
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.KontenjerZaAkaunt{
  height: 80px;
  width: 140px;
  display: flex;
  align-items: center;
margin-right: 25px;
  cursor: pointer;
}
.LevaStranaKontenjeraZaAkaunt{
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
}
.SimbolZaKorisnika{
  height: 60px;
  width: 60px;
}
.DesnaStranaKontenjeraZaAkaunt{
  display: flex;
  font-size: 15px;
  font-weight: bold;
  color: rgba(19, 15, 15, 0.938);
  font-family: Arial, Helvetica, sans-serif;
  }
  .KontenjerZaKorpu{
    height: 80px;
    width: 120px;
    display: flex;
    align-items: center;
   margin-left: 25px;
   
   
    cursor: pointer;
  }
  .LevaStranaKontenjeraZaKorpu{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
  }
  .SimboliZaKorpu{
    height: 40px;
    width: 40px;
  }
  .DesnaStranjaKontenjeraZaKorpu{
    display: flex;
    font-size: 22px;
    font-weight: bold;
    color: rgba(19, 15, 15, 0.938);
  }
  .KontenjerZaLupu{
    display: flex;
    align-items: center;
    opacity: 0;
    width: 42px;
    height: 42px;
    margin-top: 16px;
    
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    cursor: pointer;
  }
  .IzgledLupe{
    width: 42px;
    height: 42px;
   
  }
  @media ( max-width: 1300px){ 
    .IzgledShearchBara{
      width: 350px;
    }
    .KontenjerdShearchBara{
      right: 50%;
    }
   }
  
  @media ( max-width: 1100px){ 
    .IzgledShearchBara{
      opacity: 0;
    }
    .KontenjerZaLupu{
      opacity: 1;
    }
  }
  