.MojNalog{
  height: 100%;
  width: 100.1%;
  display: grid;
  grid-template-columns: 25% 75%;
  justify-items: center;
  background-color: rgb(245, 244, 244);
}
.InicijalniPodatci{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.KontenjerSlikaProfilaiOpisa{
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  height: 100%;
  border-right-color: black;
  border-right-style: solid;
}
.KontenjerSlike{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.IzgledProfilneSlike{
 object-fit: cover;
 height: 160px;
 width: 160px;
 border-radius: 50%;
 cursor: pointer;
 margin: 0;
 padding: 0;
}
.IzgledSlovaProfila{
font-size: 20px;
 width: 300px;
 font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: rgba(19, 15, 15, 0.938);
}
.IzgledMestaProfila{
  font-size: 20px;
  width: 300px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.IzgledEmailaProfila{
  font-size: 20px;
  width: 300px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.IzgledBrojaProfila{
  font-size: 20px;
  width: 300px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerIme{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 2%;
}
.SimbolIzmeni{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-right: 3%;
}
.KontenjerMesto{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 2%;
}
.SimbolIzmeni1{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 3%;
}
.KontenjerEmail{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 2%;
}
.SimbolIzmeni2{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 3%;
}
.KontenjerBroj{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 2%;
}
.SimbolIzmeni3{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 3%;
}
.KontenjerZaDugmeZaSacuvati{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DugmeSacuvajIzmene{
  padding: 15px;
  font-size: 16px;
  background-color: rgb(206, 235, 101);
  border: none;
  border-radius: 10px;
  font-weight: 520;
  box-shadow: none;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  cursor: pointer;
}
.KontenjerOdjaviSe{
 margin-top: 30%;
 margin-bottom: 40px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center
}
.DugmeOdjaviSe{
  padding: 15px;
  font-size: 16px;
  background-color: rgb(206, 235, 101);
  border: none;
  border-radius: 10px;
  font-weight: 520;
  font-family: Helvetica, sans-serif;
  color: rgba(19, 15, 15, 0.938);
  cursor: pointer;
  box-shadow: none;
}
.KontenjerSaCelimSadrzajem{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
align-items: center;
}
.BarZaNavigaciju{
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
  align-items: center;
  height: 207px;
  border-bottom-color: black;
  border-bottom-style: solid;
}
.DugmeProizvodiKojiMiSeSvidjaju{
  width: 200px;
  height: 60px;
  font-size: 18px;
  background-color: rgb(206, 235, 101);
  border: none;
  border-radius: 15px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  box-shadow: none;
  cursor: pointer;

}
.DugmeMojaInteresovanja{
  width: 200px;
  height: 60px;
  font-size: 18px;
  background-color: rgb(206, 235, 101);
   border: none;
   border-radius: 15px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  box-shadow: none;
  cursor: pointer;

}
.DugmeIstorijaKorpe{
  width: 200px;
  height: 60px;
  font-size: 18px;
  background-color: rgb(206, 235, 101);
  border: none;
  border-radius: 15px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  box-shadow: none;
  cursor: pointer;

}
.MojeProdavnice{
  width: 200px;
  height: 60px;
  font-size: 18px;
  background-color: rgb(245, 247, 122);
  border: none;
  border-radius: 15px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  box-shadow: none;
  cursor: pointer;

}
.KontenjerNaslova{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.IzgledIzaberiSvojeProdavnice{
  font-size: 28px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: rgba(19, 15, 15, 0.938);
}
.MojNalog{
  height: 1090px;
  background-color: white;
}
.KontenjerZaProdavnice{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px;
  justify-items: center;
  align-items: center;
}
.RedZaProdavnice{
  height: 60px;
  width: 300px;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.LevaStranaReda{
  height: 60px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DesnaStranaReda{
  height: 60px;
  width: 180px;
  display: flex;
  align-items: center;
}
.iZGLEDlOGApRODAVNICA{
  object-fit: contain;
  width: 100px;
  height: 60px;
}
.FontSlovaImenaProdavnica{
  font-size: 18px;
  font-weight: 520;
}
.CekboxProdavnica{
  width: 20px;
  height: 20px;
  margin-left: 16px;
}
.ProstorZaSacuvati{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.DugrmeSacuvajProdavnice{
  height: 80px;
  width: 220px;
  border-radius: 40px;
  background-color: rgb(206, 235, 101);
  font-size: 24px;
  border: none;
  cursor: pointer;
}