.GlavniKontenjerZaSadrzaj{
  height: 900px;
  background-color: white;
  margin: 0;
}
.IzgledSlovaNaslova{
  margin-top: 130px;
  margin-left: 45%;
  font-size: 30px;
  font-weight: bold;
}
.OpisONama{
  margin-top: -10px;
  margin-left: 6%;
  margin-bottom: 0px;
  width: 1400px;
  font-size: 24px;
  margin-bottom: 0px;
}
.UvodOpisa{
  margin-top: 0px;
  margin-left: 6%;
  width: 1400px;
  font-size: 24px;
}
.KontenjerZaVideoReklamu{
  margin-top: 50px;
  margin-left: 24%;
  margin-bottom: 0px;
  height: 400px;
  width: 800px;
  background-color: gray;
}