.GlavniKontenjerZaSadrzaj{
  height: 100%;
  width: 100.1%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 244, 244);
}
.PozicijaNaslova{
  height: 60px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.IzgledSlovaNaslova{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerZaOpis{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
}
.OpisONama{
  margin: 0px;
  padding: 0px;
  width: 90%;
  font-size: 24px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.UvodOpisa{
  margin: 0px;
  padding: 0px;
  width: 90%;
  font-size: 24px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.ZaglavljeZaKontenjerReklame{
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.KontenjerZaVideoReklamu{
  height: 400px;
  width: 800px;
  background-color: gray;
}

@media (min-width: 1200px) and (max-width: 1500px){
  .PozicijaNaslova{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .IzgledSlovaNaslova{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(19, 15, 15, 0.938);
  }
    .OpisONama{
      margin: 0px;
      padding: 0px;
      width: 90%;
      font-size: 20px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
    }
    .UvodOpisa{
      margin: 0px;
      padding: 0px;
      width: 90%;
      font-size: 20px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
}
.ZaglavljeZaKontenjerReklame{
  height: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.KontenjerZaVideoReklamu{
  height: 350px;
  width: 700px;
  background-color: gray;
}
}
@media (min-width: 1100px) and (max-width: 1200px){
  .PozicijaNaslova{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .IzgledSlovaNaslova{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(19, 15, 15, 0.938);
  }
    .OpisONama{
      margin: 0px;
      padding: 0px;
      width: 90%;
      font-size: 20px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
    }
    .UvodOpisa{
      margin: 0px;
      padding: 0px;
      width: 90%;
      font-size: 20px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
}
.ZaglavljeZaKontenjerReklame{
  height: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.KontenjerZaVideoReklamu{
  height: 350px;
  width: 700px;
  background-color: gray;
}
}
@media (min-width: 1000px) and (max-width: 1100px){
  .PozicijaNaslova{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .IzgledSlovaNaslova{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(19, 15, 15, 0.938);
  }
    .OpisONama{
      margin: 0px;
      padding: 0px;
      width: 90%;
      font-size: 20px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
    }
    .UvodOpisa{
      margin: 0px;
      padding: 0px;
      width: 90%;
      font-size: 20px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
}
.ZaglavljeZaKontenjerReklame{
  height: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.KontenjerZaVideoReklamu{
  height: 350px;
  width: 700px;
  background-color: gray;
}
  }
@media (min-width: 900px) and (max-width: 1000px){
  .PozicijaNaslova{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .IzgledSlovaNaslova{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(19, 15, 15, 0.938);
  }
    .OpisONama{
      margin: 0px;
      padding: 0px;
      width: 90%;
      font-size: 18px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
    }
    .UvodOpisa{
      margin: 0px;
      padding: 0px;
      width: 90%;
      font-size: 18px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
}
.ZaglavljeZaKontenjerReklame{
  height: 310px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.KontenjerZaVideoReklamu{
  height: 300px;
  width: 600px;
  background-color: gray;
}
}
@media (min-width: 700px) and (max-width: 900px){
  .PozicijaNaslova{
    height: 40px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .IzgledSlovaNaslova{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(19, 15, 15, 0.938);
  }
    .OpisONama{
      margin: 0px;
      padding: 0px;
      width: 90%;
      font-size: 15px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
    }
    .UvodOpisa{
      margin: 0px;
      padding: 0px;
      width: 90%;
      font-size: 15px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
}
.ZaglavljeZaKontenjerReklame{
  height: 310px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.KontenjerZaVideoReklamu{
  height: 300px;
  width: 600px;
  background-color: gray;
}
}
@media (min-width: 600px) and (max-width: 700px){
  .PozicijaNaslova{
    height: 40px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .IzgledSlovaNaslova{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(19, 15, 15, 0.938);
  }
    .OpisONama{
      margin: 0px;
      padding: 0px;
      width: 90%;
      font-size: 12px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
    }
    .UvodOpisa{
      margin: 0px;
      padding: 0px;
      width: 90%;
      font-size: 12px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
}
.ZaglavljeZaKontenjerReklame{
  height: 260px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.KontenjerZaVideoReklamu{
  height: 250px;
  width: 500px;
  background-color: gray;
}
}
@media (min-width: 400px) and (max-width: 600px){
  .PozicijaNaslova{
    height: 25px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .IzgledSlovaNaslova{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(19, 15, 15, 0.938);
  }
    .OpisONama{
      margin: 0px;
      padding: 0px;
      width: 95%;
      font-size: 9px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
    }
    .UvodOpisa{
      margin: 0px;
      padding: 0px;
      width: 95%;
      font-size: 9px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
}
.ZaglavljeZaKontenjerReklame{
  height: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.KontenjerZaVideoReklamu{
  height: 180px;
  width: 360px;
  background-color: gray;
}
}
@media (min-width: 350px) and (max-width: 400px){
  .PozicijaNaslova{
    height: 25px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .IzgledSlovaNaslova{
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(19, 15, 15, 0.938);
  }
    .OpisONama{
      margin: 0px;
      padding: 0px;
      width: 95%;
      font-size: 7px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
    }
    .UvodOpisa{
      margin: 0px;
      padding: 0px;
      width: 95%;
      font-size: 7px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
}
.ZaglavljeZaKontenjerReklame{
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.KontenjerZaVideoReklamu{
  height: 140px;
  width: 280px;
  background-color: gray;
}
}
@media (min-width: 300px) and (max-width: 350px){
  .PozicijaNaslova{
    height: 25px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .IzgledSlovaNaslova{
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(19, 15, 15, 0.938);
  }
    .OpisONama{
      margin: 0px;
      padding: 0px;
      width: 95%;
      font-size: 7px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
    }
    .UvodOpisa{
      margin: 0px;
      padding: 0px;
      width: 95%;
      font-size: 7px;
      font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(19, 15, 15, 0.938);
}
.ZaglavljeZaKontenjerReklame{
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.KontenjerZaVideoReklamu{
  height: 140px;
  width: 280px;
  background-color: gray;
}
}