.GlavniKontenjerZaSadrzaj{
  height: 100%;
  width: 100.1%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 244, 244);
}
.PozicijaNaslova{
  height: 60px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.IzgledSlovaNaslova{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerZaOpis{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
}
.OpisONama{
  margin: 0px;
  padding: 0px;
  width: 90%;
  font-size: 24px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.UvodOpisa{
  margin: 0px;
  padding: 0px;
  width: 90%;
  font-size: 24px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.ZaglavljeZaKontenjerReklame{
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.KontenjerZaVideoReklamu{
  height: 400px;
  width: 800px;
  background-color: gray;
}