.KontenjerPocetneStrane{
  height: 100%;
  width: 100.1%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 244, 244);
}
.VideoReklame{
  display: flex;
   height: 150px;
   width: 100%;
   padding: 0;
   margin-top: 10px;
   margin-bottom: 10px;
  display: flex;
  align-items: center;
 justify-content:space-between;
}
.KontenjerSlikaReklame{
  display: flex;
  flex: 1;
  height: 150px;
  align-items: center;
  justify-content: center;
}
.SlikaReklame{
  height: 150px;
  width: 200px;
}
.KontenjerZaDugmice{
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-items: center;
}
.DugmeIzbora{
  height: 70px;
  width: 200px;
  margin-left: 50px;
  margin-top: 25px;
  background-color: rgb(206, 235, 101);
  border: none;
  border-radius: 12px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  color: rgb(37, 37, 37);
  cursor: pointer;
}
.KontenjerZaNaslov{
width: 100%;
height: 32px;
display: flex;
margin-top: 40px;
margin-bottom: 40px;
}
.IzgledSlovaObavestenja{
  padding: 0px;
  margin: 0px;
  margin-left: 6%;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerPreporuceniProizvodi{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  justify-items: center;
}

.KontenjerZaSledeceINazad{
 height: 40px;
 width: 100%;
 margin-bottom: 20px;
 display: flex;
 align-items: center;
 justify-content: end;
}
.DugmeZaStranice{
  height: 38px;
  width: 100px;
  margin-right: 80px;
  font-size: 18px;
  border: none;
  background-color: rgb(206, 235, 101);
  cursor: pointer;
}
.KontenjerProizvoda{
  width: 310px;
  height: 386px;
  margin-right: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 25px;
  cursor: pointer;
}
.GornjiDeoKontenjeraProizvoda{
  width: 310px;
  height: 150px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border: none;
}
.IzgledSlikaProizvoda{
  object-fit: cover;
  height: 150px;
  width: 150px;
  border: none;
}
.KontenjerZaTekstProizvoda{
  width: 160px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center ;
}
.RedUKontenjeruZaTekstProizvoda{
  width: 156px;
  height: 37.5px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.DonjiDeoKontenjeraProizvoda{
  width: 310px;
  height: 234.5px;
  display: grid;
  grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  grid-template-columns: 150px 150px;
  border: none;
  justify-items: center;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: center;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

.IzgledSlovaCena{
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-weight: 520;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  line-height: 1;
}
.IzgledNaslovaMarketa{
  font-size: 20px;
  margin-bottom: 2px;
  margin-left: 10px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.DimenzijeSlikeKorpe{
  height: 26px;
  width: 26px;
  margin-bottom: 4px;
  cursor: pointer;
  border-color: rgb(131, 123, 123);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 5px;
}
@media (min-width: 1600px) and (max-width: 1750px){
  .DugmeIzbora{
    margin-left: 40px;
  }
}
@media (min-width: 1500px) and (max-width: 1600px){
  .DugmeIzbora{
    margin-left: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px){
  .DugmeIzbora{
    margin-left: 0px;
  }
  .VideoReklame{
    display: flex;
     height: 100px;
     width: 100%;
     padding: 0;
     margin-top: 10px;
     margin-bottom: 10px;
    display: flex;
    align-items: center;
   justify-content:space-between;
  }
  .KontenjerSlikaReklame{
    display: flex;
    flex: 1;
    height: 100px;
    align-items: center;
    justify-content: center;
  }
  .SlikaReklame{
    height: 120px;
    width: 160px;
  }
}
@media (min-width: 1100px) and (max-width: 1200px){
.KontenjerZaDugmice{
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-left: 0px;
}
.VideoReklame{
  display: flex;
   height: 100px;
   width: 100%;
   padding: 0;
   margin-top: 10px;
   margin-bottom: 10px;
  display: flex;
  align-items: center;
 justify-content:space-between;
}
.KontenjerSlikaReklame{
  display: flex;
  flex: 1;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.SlikaReklame{
  height: 105px;
  width: 140px;
}
.DugmeIzbora{
  margin-left: 0px;
}
.KontenjerPreporuceniProizvodi{
  grid-template-columns: 33% 33% 33%;
}
.DimenzijeSlikeKorpe{
  height: 20px;
  width: 20px;
}
}
@media (min-width: 1000px) and (max-width: 1100px){
  .KontenjerZaDugmice{
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: 0px;
  }
  .VideoReklame{
    display: flex;
     height: 90px;
     width: 100%;
     padding: 0;
     margin-top: 10px;
     margin-bottom: 10px;
    display: flex;
    align-items: center;
   justify-content:space-between;
  }
  .KontenjerSlikaReklame{
    display: flex;
    flex: 1;
    height: 90px;
    align-items: center;
    justify-content: center;
  }
  .SlikaReklame{
    height: 105px;
    width: 140px;
  }
  .DugmeIzbora{
    margin-left: 0px;
    width: 190px;
  }
  .KontenjerPreporuceniProizvodi{
    grid-template-columns: 33% 33% 33%;
  }
  }
@media (min-width: 900px) and (max-width: 1000px){
  .KontenjerZaDugmice{
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px;
    margin-left: 0px;
    margin-bottom: 60px;
  }
  .VideoReklame{
    display: flex;
     height: 105px;
     width: 100%;
     padding: 0;
     margin-top: 10px;
     margin-bottom: 10px;
    display: flex;
    align-items: center;
   justify-content:space-between;
  }
  .KontenjerSlikaReklame{
    display: flex;
    flex: 1;
    height: 105px;
    align-items: center;
    justify-content: center;
  }
  .SlikaReklame{
    height: 105px;
    width: 140px;
  }
  .DugmeIzbora{
    margin-left: 0px;
    margin-top: 0px;
  }
  .KontenjerPreporuceniProizvodi{
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  .LinkSviProizovi{
    height: 72px;
    width: 200px;
  }
  .LinkPredlogZaObroke{
    height: 72px;
    width: 200px;
  }
  .LinkPKakoTo{
    height: 72px;
    width: 200px;
  }
  .LinkNagradnaIgra{
    height: 72px;
    width: 200px;
  }
  .LinkProdavnice{
    height: 72px;
    width: 200px;
  }
  .VideoReklame{
    margin-bottom: 30px;
  }
}
@media (min-width: 700px) and (max-width: 900px){
  .KontenjerZaDugmice{
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 90px;
    margin-left: 0px;
    margin-bottom: 50px;
  }
  .VideoReklame{
    display: flex;
     height: 90px;
     width: 100%;
     padding: 0;
     margin-top: 10px;
     margin-bottom: 10px;
    display: flex;
    align-items: center;
   justify-content:space-between;
  }
  .KontenjerSlikaReklame{
    display: flex;
    flex: 1;
    height: 90px;
    align-items: center;
    justify-content: center;
  }
  .SlikaReklame{
    height: 90px;
    width: 120px;
  }
  .DugmeIzbora{
    margin: 0px;
  }
  .KontenjerPreporuceniProizvodi{
    grid-template-columns: 50% 50%;
  }
  .LinkSviProizovi{
    height: 72px;
    width: 200px;
  }
  .LinkPredlogZaObroke{
    height: 72px;
    width: 200px;
  }
  .LinkPKakoTo{
    height: 72px;
    width: 200px;
  }
  .LinkNagradnaIgra{
    height: 72px;
    width: 200px;
  }
  .LinkProdavnice{
    height: 72px;
    width: 200px;
  }
  .VideoReklame{
    margin-bottom: 30px;
  }
}
@media (min-width: 600px) and (max-width: 700px){
  .KontenjerZaDugmice{
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 90px;
    margin-left: 0px;
    margin-bottom: 40px;
    justify-items: center;
    align-items: center;
  }
  .VideoReklame{
    display: flex;
     height: 80px;
     width: 100%;
     padding: 0;
     margin-top: 10px;
     margin-bottom: 10px;
    display: flex;
    align-items: center;
   justify-content:space-between;
  }
  .KontenjerSlikaReklame{
    display: flex;
    flex: 1;
    height: 80px;
    align-items: center;
    justify-content: center;
  }
  .SlikaReklame{
    height: 75px;
    width: 100px;
  }
  .DugmeIzbora{
    margin-left: 0px;
    width: 170px;
    height: 60px;
    font-size: 20px;
    margin-top: 0px;
  }
  .KontenjerPreporuceniProizvodi{
    grid-template-columns: 50% 50%;
  }
    .LinkSviProizovi{
    height: 60px;
    width: 170px;
  }
  .LinkPredlogZaObroke{
    height: 60px;
    width: 170px;
  }
  .LinkPKakoTo{
    height: 60px;
    width: 170px;
  }
  .LinkNagradnaIgra{
    height: 60px;
    width: 170px;
  }
  .LinkProdavnice{
    height: 60px;
    width: 170px;
  }
  .VideoReklame{
    margin-bottom: 16px;
  }
  .DimenzijeSlikeKorpe{
    height: 20px;
    width: 20px;
  }
}
@media (min-width: 400px) and (max-width: 600px){
  .KontenjerZaDugmice{
    height: 40px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 56px;
    margin-left: 0px;
    margin-bottom: 50px;
  }
  .VideoReklame{
    display: flex;
     height: 56px;
     width: 100%;
     padding: 0;
     margin-top: 10px;
     margin-bottom: 10px;
    display: flex;
    align-items: center;
   justify-content:space-between;
  }
  .KontenjerSlikaReklame{
    display: flex;
    flex: 1;
    height: 56px;
    align-items: center;
    justify-content: center;
  }
  .SlikaReklame{
    height: 54px;
    width: 72px;
  }
  .DugmeIzbora{
    margin-left: 0px;
    font-size: 15px;
    height: 45px;
    width: 120px;
    margin: 0px;
  }
  .KontenjerPreporuceniProizvodi{
    grid-template-columns: 100%;
  }
  .LinkSviProizovi{
    height: 45px;
    width: 120px;
  }
  .LinkPredlogZaObroke{
    height: 45px;
    width: 120px;
  }
  .LinkPKakoTo{
    height: 45px;
    width: 120px;
  }
  .LinkNagradnaIgra{
    height: 45px;
    width: 120px;
  }
  .LinkProdavnice{
    height: 45px;
    width: 120px;
  }
  .VideoReklame{
    margin-bottom: 19px;
  }
  .IzgledSlovaObavestenja{
    font-size: 18px;
  }
  .KontenjerZaNaslov{
    height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .DimenzijeSlikeKorpe{
    height: 15px;
    width: 15px;
  }
}
@media (min-width: 350px) and (max-width: 400px){
  .KontenjerZaDugmice{
    height: 35px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 56px;
    margin-left: 0px;
    margin-bottom: 50px;
  }
  .VideoReklame{
    display: flex;
     height: 48px;
     width: 100%;
     padding: 0;
     margin-top: 10px;
     margin-bottom: 10px;
    display: flex;
    align-items: center;
   justify-content:space-between;
  }
  .KontenjerSlikaReklame{
    display: flex;
    flex: 1;
    height: 48px;
    align-items: center;
    justify-content: center;
  }
  .SlikaReklame{
    height: 45px;
    width: 60px;
  }
  .DugmeIzbora{
    margin-left: 0px;
    font-size: 14px;
    height: 35px;
    width: 100px;
    margin: 0px;
  }
  .KontenjerPreporuceniProizvodi{
    grid-template-columns: 100%;
  }
  .LinkSviProizovi{
    height: 40px;
    width: 100px;
  }
  .LinkPredlogZaObroke{
    height: 40px;
    width: 100px;
  }
  .LinkPKakoTo{
    height: 40px;
    width: 100px;
  }
  .LinkNagradnaIgra{
    height: 40px;
    width: 100px;
  }
  .LinkProdavnice{
    height: 40px;
    width: 100px;
  }
  .VideoReklame{
    margin-bottom: 19px;
  }
  .IzgledSlovaObavestenja{
    font-size: 18px;
  }
  .KontenjerZaNaslov{
    height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .DugmeZaStranice{
    margin-right: 50px;
  }
  .DimenzijeSlikeKorpe{
    height: 15px;
    width: 15px;
  }
}
@media (min-width: 300px) and (max-width: 350px){
  .KontenjerZaDugmice{
    height: 35px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 56px;
    margin-left: 0px;
    margin-bottom: 50px;
  }
  .VideoReklame{
    display: flex;
     height: 38px;
     width: 100%;
     padding: 0;
     margin-top: 10px;
     margin-bottom: 10px;
    display: flex;
    align-items: center;
   justify-content:space-between;
  }
  .KontenjerSlikaReklame{
    display: flex;
    flex: 1;
    height: 38px;
    align-items: center;
    justify-content: center;
  }
  .SlikaReklame{
    height: 36px;
    width: 48px;
  }
  .DugmeIzbora{
    margin-left: 0px;
    font-size: 14px;
    height: 35px;
    width: 100px;
    margin: 0px;
  }
  .KontenjerPreporuceniProizvodi{
    grid-template-columns: 100%;
    margin-left: 3px;
  }
  .LinkSviProizovi{
    height: 40px;
    width: 100px;
  }
  .LinkPredlogZaObroke{
    height: 40px;
    width: 100px;
  }
  .LinkPKakoTo{
    height: 40px;
    width: 100px;
  }
  .LinkNagradnaIgra{
    height: 40px;
    width: 100px;
  }
  .LinkProdavnice{
    height: 40px;
    width: 100px;
  }
  .VideoReklame{
    margin-bottom: 19px;
  }
  .IzgledSlovaObavestenja{
    font-size: 18px;
  }
  .KontenjerZaNaslov{
    height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .DugmeZaStranice{
    margin-right: 50px;
  }
}