.KontenjerZaKontaktirajNas{
  height: 1050px;
  width: 1570px;
  background-color: rgb(245, 244, 244);
margin-top: -10px;

}
.KontenjerGornjegObaveštenja{
  height: 30px;
  margin-top: 150x;
  margin-bottom: 20px;
  margin-left: 4%;
  color: rgb(58, 58, 58);

  }
.IzgledSlovaObavestenja{
    padding-top: 40px;
  font-size: 30px;
    margin-top: 10px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  font-weight: 600;
 
}
.IzgledSlovaNaslovaOProdavnici{
  font-size: 22px;
  font-weight: bold;
  margin-top: 80px;
  margin-left: 100px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  
}
.KontenjerNazivProdavnice{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -30px;
  margin-left: 50px;
  height: 100px;
  width: 600px;

}
.KontenjerMestoProdavnice{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -100px;
  margin-left: 550px;
  height: 100px;
  width: 500px;
 
}
.KontenjerUlicaProdavnice{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -100px;
  margin-left: 900px;
  height: 100px;
  width: 500px;
 
}
.KontenjerBrojProdavnice{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -100px;
  margin-left: 1280px;
  height: 100px;
  width: 100px;
  
}
.KontenjerImeVlasnika{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -20px;
  margin-left: 50px;
  height: 100px;
  width: 500px;
}
.KontenjerPrezime{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -100px;
  margin-left: 320px;
  height: 100px;
  width: 500px;
}
.KontenjerBrojTelefona{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -100px;
  margin-left: 620px;
  height: 100px;
  width: 500px;

}
.KontenjeEmail{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -100px;
  margin-left: 980px;
  height: 100px;
  width: 500px;

}
.IzgledSvihTekstovaZaKontaktirajNas{
  font-size: 24px;
  margin-right: 10px;

}
.IzgledSvihInputaZaKontaktirajNas{
  height: 24px;
  font-size: 18px;
  width: 250px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);

}
.IzgledMestoInputaZaKontaktirajNas{
  height: 24px;
  font-size: 18px;
  width: 200px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);

}
.IzgledBrojInputaZaKontaktirajNas{
  height: 24px;
  font-size: 18px;
  width: 80px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);

}
.IzgledEmailInputaZaKontaktirajNas{
  height: 24px;
  font-size: 18px;
  width: 376px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);

}
.IzgledSlovaNaslovaOvlasniku{
  font-size: 22px;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 100px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);

}
.IzgledImeInputaZaKontaktirajNas{
  height: 24px;
  font-size: 18px;
  width: 150px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);

}
.KontenjerDodatneInfromacije{
  margin-top: 0px;
  margin-left: 30%;

}
.DodatneInfromacije{
  font-size: 30px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  font-weight: 550;
 
}
.IzgledDugmetaZaRegistraciju{
  height: 60px;
  width: 300px;
  margin-top: 18px;
  margin-left: 40%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 28px;
  border: none;
  background-color: rgb(206, 235, 101);
 
  cursor: pointer;
}
.Okvir1{
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  margin-top: 30px;

}
.Informacije{
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-top: -30px;
  width: 1400px;
  height: 150px;

}
.KontenjeEmailObavestenja{
  display: flex;
  align-items: center;
  height: 80px;
  width: 500px;

}
.KontenjeBrojlObavestenja{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 500px;
  margin-bottom: 35px;

}
.KontenjeBoksZalObavestenja{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 250px;
  width: 1400px;
  margin-left: 100px;
  margin-right: 0px;

  border-width: 2px;
}
.IzgledObavestenjaTekstovaZaKontaktirajNas{
  font-size: 24px;
  width: 410px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
 
}
.IzgledBoxObavestenjaInputaZaKontaktirajNas{
  width: 900px;
  height: 200px;
  font-size: 14px;
  border-radius: 5px;
  margin: 0;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
 
}
.KontenjeBoksZalObavestenja::placeholder{
  font-size: 20px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
 
 }
 .KontenjerZaDugme{
  height: 60px;
  width: 240px;
 
margin-bottom: 60px;
margin-top: -290px;
  margin-left: 180px;
 
 }
 .DugmeUpit{
  height: 50px;
  width: 200px;
  font-size: 24px;
margin: 0px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  border-radius: 28px;
  border: none;
  background-color: rgb(206, 235, 101);
  cursor: pointer;
 
 }
 .IzgledEmailInputaZaKontaktirajNas1{
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 18px;
  width: 376px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  
}
.KontenjerTekstUputa{
  margin-left: 80px;
  margin-top: -50px;
  
  width: 410px;
}
.PostaviPitanje{

  margin-left: 500px;
  width: 910px;
  margin-top: -138px;

}