.KontenjerZaKontaktirajNas{
  height: 100%;
  width: 100.1%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 244, 244);
}
.KontenjerGornjegObaveštenja{
  height: 60px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.IzgledSlovaObavestenja{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerZaObavestenjeUpitnika{
  height: 25px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
 justify-content: center;

}
.IzgledSlovaNaslovaOProdavnici{
  font-size: 22px;
  font-weight: bold;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  margin: 0px;
  padding: 0px;
}
.GornjaPoljaOProdavnici{
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 37% 21% 27% 11%;
}
.KontenjerNazivProdavnice{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 600px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerMestoProdavnice{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100px;
  width: 500px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerUlicaProdavnice{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100px;
  width: 500px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerBrojProdavnice{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.DonjaPoljaOProdavnici{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0S;
  display: grid;
  justify-items: center;
  grid-template-columns: 24% 14% 28% 32%;
}
.KontenjerImeVlasnika{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 500px;
}
.KontenjerPrezime{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 500px;
}
.KontenjerBrojTelefona{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 500px;

}
.KontenjeEmail{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 100px;
  width: 500px;

}
.IzgledSvihTekstovaZaKontaktirajNas{
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
}
.IzgledSvihInputaZaKontaktirajNas{
  height: 24px;
  font-size: 18px;
  width: 250px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);

}
.IzgledMestoInputaZaKontaktirajNas{
  height: 24px;
  font-size: 18px;
  width: 200px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);

}
.IzgledBrojInputaZaKontaktirajNas{
  height: 24px;
  font-size: 18px;
  width: 80px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);

}
.IzgledEmailInputaZaKontaktirajNas{
  height: 24px;
  font-size: 18px;
  width: 376px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);

}
.IzgledSlovaNaslovaOvlasniku{
  font-size: 22px;
  font-weight: bold;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  margin: 0px;
  padding: 0px;

}
.IzgledImeInputaZaKontaktirajNas{
  height: 24px;
  font-size: 18px;
  width: 150px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);

}
.KontenjerDodatneInfromacije{
  height: 60px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.DodatneInfromacije{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerZaDugmeRegistracije{
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.IzgledDugmetaZaRegistraciju{
  height: 60px;
  width: 300px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 28px;
  border: none;
  background-color: rgb(206, 235, 101);
 
  cursor: pointer;
}
.Okvir1{
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  margin-top: 30px;

}
.Informacije{
width: 100%;
height: 100px;
display: flex;
align-items: center;
justify-content: center;
margin: 0px;
padding: 0px;
margin-bottom: 10px;
}
.KontenjeEmailObavestenja{
 display: flex;
 align-items: center;
 justify-content: end;
 height: 80px;
 width: 500px;
 margin: 0px;
padding: 0px;
}
.KontenjeBrojlObavestenja{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width: 300px;
  margin: 0px;
  padding: 0px;
  margin-left: 6%;
}
.KontenjerPisanjeUpita{
  display: flex;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: 40px;
}
.KontenjeBoksZalObavestenja{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 250px;
  width: 1400px;
  margin-right: 0px;
  border-width: 2px;
}
.IzgledObavestenjaTekstovaZaKontaktirajNas{
  font-size: 24px;
  width: 410px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  margin: 0px;
  padding: 0px;
}
.IzgledBoxObavestenjaInputaZaKontaktirajNas{
  width: 900px;
  height: 200px;
  font-size: 14px;
  border-radius: 5px;
  margin: 0;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjeBoksZalObavestenja::placeholder{
  font-size: 20px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
 }
 .KontenjerZaDugme{
  height: 60px;
  width: 240px;
  margin-top: 5%;
 }
 .DugmeUpit{
  height: 50px;
  width: 200px;
  font-size: 24px;
  margin: 0px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  border-radius: 28px;
  border: none;
  background-color: rgb(206, 235, 101);
  cursor: pointer;
 
 }
 .IzgledEmailInputaZaKontaktirajNas1{
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 18px;
  width: 376px;
  border-radius: 5px;
  border: rgb(11, 12, 11);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerTekstUputa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 410px;
  margin: 0px;
  padding: 0px;
}
.PostaviPitanje{
display: flex;
width: 910px;
}