.KontenjerSadrzaja{
  height: 100%;
  width: 100.2%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 244, 244);
}
.VideoReklame{
  height: 150px;
  width: 100%;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: gray;
}
.KontenjerZaNaslov{
  height: 40px;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 3%;
  display: flex;
  text-align: center;
  justify-content: center;
  }
  .IzgledSlovaNaslova{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(19, 15, 15, 0.938);
  }
.KontenjerStranice{
  width: 97%;
  height: 100%;
  margin-left: 20px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 28% 48% 22%;
  justify-items: center;
 }
.LevaStranaKontenjeraStranice{
  width: 420px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.IzgledSlike{
  width: 400px;
  height: 300px;
  border-radius: 24px;
}
.DesnaStranaKontenjeraStranice{
  margin-left: 80px;
  width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.RedULevomKontenjeru{
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  line-height: 14px;
}
.RedULevomKontenjeruNaslov{
  height: 25px;
  width: 400px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.KontenjerIzgledDUgmetaKorpe{
  margin-top: 80px;
  height: 70px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: rgb(206, 235, 101);
  border: none;
  cursor: pointer;
}
.IzgledDUgmetaKorpe{
  height: 60px;
  width: 60px;
}
.RedUDesnomKontenjeru{
  width: 680px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  line-height: 30px;
  }
.RedUDesnomKontenjeruNaslov{
  height: 25px;
  width: 740px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  font-size: 22px;
  }
  .KontenjerZaPostupke{
    display: flex;
    width: 730px;
  }
.VideoKlip{
 margin-top: 10px;
 margin-bottom: 40px;
 width: 600px;
 height: 450px;
 background-color: gray;
}
.KontenjerZaJosRecepta{
 height: 100%;
 width: 260px;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-left: 80px;
}
.RedZaJosRecepata{
  width: 300px;
  height: 80px;
  display: flex;
  margin-bottom: 5px;
  border-color: rgb(117, 104, 104);
  border-style: solid;
  cursor: pointer;
 }
.IzgledSlikeZaJos{
  height: 80px;
  width: 105px;
}
.DesnaStranaZaJos{
  height: 80px;
  width: 173px;
  display: flex;
  align-items: center;
 justify-content: center;
}
.SlovaZaJos{
  margin-left: 5px;
  font-size: 15px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}