.GlavniKontenjerZaSadrzaj{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100.2%;
 background-color: rgb(245, 244, 244);
 padding: 0px;
 }
 .VideoReklame{
   display: flex;
    height: 150px;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
     background-color: gray;
  }
 .KontenjerZaNaslov{
   height: 40px;
   width: 95%;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 3%;
   display: flex;
   text-align: center;
   justify-content: center;
   }
   .IzgledSlovaNaslova{
     margin: 0;
     padding: 0;
    font-size: 30px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: rgba(19, 15, 15, 0.938);
   }
 .KontenjerZaPretragu{
   width: 95%;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 3%;
 }
 .IzgledInputaZaProdavnice{
   width: 450px;
   height: 40px;
   border-radius: 20px;
   border: none;
   box-shadow: 0px 0px 5px rgba(19, 26, 128, 0.6);
   font-size: 18px;
 }
 .IzgledInputaZaProdavnice::placeholder{
   font-size: 18px;
   color: rgba(31, 30, 30, 0.678);
   padding-left: 10px;
 }
 .KontenjerSaIzboromObroka{
   width: 100%;
   height: 100%;
   margin-top: 30px;
   display: grid;
 justify-items: center;
   grid-template-columns: 33% 33% 33%;
   row-gap: 30px;
   }
 .IzgledDugmetaZaObroke{
   height: 80px;
   width: 200px;
 
   margin-top: 0;
   border-radius: 40px;
   border-style: solid;
   border-color: gray;
   font-size: 18px;
   font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: rgba(19, 15, 15, 0.938);
   background-color: rgb(206, 235, 101);
   cursor: pointer;
  
 
 }
 .KontenjerSaSlikama{
   width: 100%;
   height: 100%;
   margin-top: 30px;
   margin-bottom: 60px;
   display: grid;
  justify-items: center;
   grid-template-columns: 20% 20% 20% 20% 20%;
   row-gap: 15px;
    }
   .KontenjerProizvoda{
     width: 300px;
     height: 370px;
    
     border-color: black;
     border-style: solid;
     background-color: white;
   }
   .GornjiDeoKontenjeraProizvoda{
     width: 296px;
     height: 140px;
     display: flex;
     flex-direction: row;
     border: none;
     }
   .IzgledSlikaProizvoda{
     object-fit: cover;
     height: 140px;
     width: 140px;
    border: none;
    cursor: pointer;
   }
   .KontenjerZaTekstProizvoda{
     width: 156px;
     height: 140px;
     display: flex;
     flex-direction: column;
     }
   .RedUKontenjeruZaTekstProizvoda{
     width: 156px;
     height: 31px;
     font-size: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
    
   }
   .SlovaZaOpisSadrzaja{
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
     margin-left: 3px;
   }
   .DonjiDeoKontenjeraProizvoda{
     width: 300px;
     height: 220px;
     border: none;
     border-top-color: black;
     border-top-style: solid;
     border-top-width: 2px;
     display: grid;
     justify-items: center;
     grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px;
     grid-template-columns: 140px 140px;
   }
   .IzgledSlovaCena{
     margin: 0px;
     font-size: 15px;
     font-weight: 520;
     margin-left: 20px;
     font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: rgba(19, 15, 15, 0.938);
     line-height: 1;
   }
   .IzgledNaslovaMarketa{
     font-size: 18px;
     margin-left: 20px;
     font-family: Arial, Helvetica, sans-serif;
     color: black;
   }
   .KontenjerZaDruguStranicu{
     display: flex;
     margin: 0px;
     margin-top: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .DugmeZaSledecuStranu{
     height: 40px;
     width: 40px;
     margin-bottom: 30px;
     border-radius: 50%;
     border: none;
     background-color: rgba(190, 190, 190, 0.582);
     margin-left: 20px;
     margin-right: 20px;
     cursor: pointer;
   }
   .DimenzijeSlikeKorpe{
     height: 26px;
     width: 26px;
     margin-top: 6px;
     cursor: pointer;
     border-color: rgb(131, 123, 123);
     border-style: solid;
     border-width: 2px;
     border-radius: 10px;
     padding: 5px;
    }