.GlavniKontenjerZaSadrzaj{
  height: 1600px;
  background-color: rgb(245, 244, 244);
  display: flex;
  flex-direction: column;
}
.VideoReklame{
  height: 150px;
  width: 1500px;
  margin-top: 12px;
  margin-left: 2%;
  background-color: rgb(110, 106, 106);
}
.IzgledSlovaNaslova{
  margin-left: 0%;
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: bold;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerSaSadrzajom{
  
  margin-left: 2%;
  width: 1400px;
  height: 1100px;
  display: flex;
  flex-direction: row;
}
.LevaStranjaKontenjeraSaSadrzajom{
   width: 900px;
  height: 1100px;
  display: flex;
  flex-direction: column;
}
.IzgledSlike{
  width: 400px;
  height: 300px;
  margin-left: 8%;
  margin-bottom: 18px;
}
.KontenjerSaSadrzajem{
  height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.IzgledSlovaSadrzaja{
  font-size: 22px;
  font-weight: bold;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.KontenjerSaOpisom{
  width: 900px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  line-height: 1.4;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.IzgledSlovaOpisa{
  font-size: 18px;
  margin: 0px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
}
.DesnaStranjaKontenjeraSaSadrzajom{
  width: 500px;
  height: 1100px;
  display: flex;
  flex-direction: column;
}
.NaslovZaSveNagradneIgre{
  font-size: 20px;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(19, 15, 15, 0.938);
  margin-left: 156px;
  font-weight: bold;
}
.KontenjerSaOstalimNagradnimIgrama{
width: 500px;
height: 84px;
border-color: rgb(103, 103, 104);
border-width: 2px;
border-style: solid;
display: flex;
flex-direction: row;
}
.LevaKontenjerSaOstalimNagradnimIgrama{
height: 84px;
width: 110px;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 0px 5px rgba(18, 4, 100, 0.87);
}
.DesnaKontenjerSaOstalimNagradnimIgrama{
height: 84px;
width: 390px;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
font-size: 16px;
font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgba(19, 15, 15, 0.938);
}
.MalaSlicicaNagradneIgre{
  height: 80px;
  width: 105px;
}